@model Calculator.Models.CalculatorViewModel

<form asp-controller="Home" asp-action="Calculator">

    <label asp-for="FirstNumber"></label>
    <input asp-for="FirstNumber" />
    <br />
    <label asp-for="SecondNumber"></label>
    <input asp-for="SecondNumber" />
    <br />
    <br />
    @Html.DropDownListFor(m => m.calculationMethod, new SelectList(Enum.GetValues(typeof(CalculationMethod))))
    <br />
    <br />
    <label asp-for="Result"></label>
    <input asp-for="Result" />
    <br />
    <br />

    <button type="submit">Submit</button>

</form>