@model Calculator.Models.CalculatorViewModel

<form asp-controller="Home" asp-action="Calculator">

    <ul class="flex-outer">
        <li class="form-row">
            <label asp-for="FirstNumber"><strong>Enter a number:</strong></label>
            <input asp-for="FirstNumber" />
        </li>
        <li class="form-row">
            <label asp-for="SecondNumber"><strong>Enter another number:</strong></label>
            <input asp-for="SecondNumber" />
        </li>

        <li class="method">
            <div class="method-label"><strong>Select calculation method:</strong></div>
            <div class="calculation">@Html.DropDownListFor(m => m.calculationMethod, new SelectList(Enum.GetValues(typeof(CalculationMethod))))</div>
        </li>
        <li class="form-row">
            <label asp-for="Result"><strong>The result is:</strong></label>
            <input asp-for="Result" />
        </li>
        <li class="submit-button">
            <button type="submit">Submit</button>
        </li>

    </ul>

</form>

<style>
    .flex-outer {
        background-color: whitesmoke;
        list-style-type: none;
        padding: 1em;
        border-radius: 3px;
        outline-style: solid;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        font-size: 150%;

    }
    .form-row {
        display: flex;
        justify-content: flex-end;
        padding: .5em;
    }
    .form-row > label {
        padding: .5em 1em .5em 0;
        flex: 1;
    }
    .form-row > input {
        flex: 2;
        padding: .5em;
    }
    .method {
        display: flex;
        justify-content: space-between;
        padding: .25em;
    }
    .method-label {
        flex: 1;
        padding: .5em 1em .5em 0;
    }
    .calculation {
        flex: 2;
        padding: .5em 1em .5em 0;
    }
    .submit-button {
        display: flex;
        justify-content: center;
        background: whitesmoke;
        color: white;
        padding: .5em;
    }


</style>